pip==21.2.4
bump2version==1.0.1
wheel==0.37.0
watchdog==2.1.5
argh==0.26.2
flake8==3.9.2
tox==3.26.0
coverage==6.0
Sphinx==4.2.0
isort==5.9.3
twine==3.4.2
Click==8.0.1
pytest==6.2.5
black==21.9b0
pyyaml==5.4.1
cloudsigma==1.0
pytest-vcr==1.0.2
